@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.button-delete {
  position: relative;
}

.button-delete::after {
  content: "Delete";
  position: absolute;
  top: 45px;
  left: 70px;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  border: 1px solid white;
  transition: opacity 0.3s ease;
  z-index: 10;
  background-color: grey;
  padding: 5px;
  animation: ease-in-out;
}

.button-delete:hover::after {
  opacity: 1;
}

.button-edit {
  position: relative;
}

.button-edit::after {
  content: "Edit";
  position: absolute;
  top: 45px;
  left: 50px;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  border: 1px solid white;
  transition: opacity 0.3s ease;
  z-index: 10;
  background-color: grey;
  padding: 5px;
  animation: ease-in-out;
}

.button-edit:hover::after {
  opacity: 1;
}
